<?xml version="1.0"?>

<model>
  <name>simulation table small</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Grzegorz Cielniak</name>
    <email>gcielniak@lincoln.ac.uk</email>
  </author>

  <description>
	LIMO's simulation table. A basic version with all 16 parts arranged into a squared arena.
  The background texture is based on a low res texture from the LIMO's simulation table user manual, 
  which was then vectorised in Inkscape. The source vector file is materials/textures/simulation_table_vector.svg 
  and can be used for export to PNG (@150 dpi) in Inkscape.

  This is a smaller version with just half of the parts assembled.
  </description>
</model>